<div class="login_box">
    <div class="login_logo">
        <span style="font-size: 28px; font-weight: bold;color:black">XXXX系统</span>
    </div>
    <div class="login_from">
        <form class="form-horizontal">
            <h4>用户登录</h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="用户名" ng-model="loginName" ng-keyup="enter($event)">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <input type="password" class="form-control" placeholder="密码" ng-model="password" ng-keyup="enter($event)">
            </div>
            <div class="input-group login_button">
                <button type="button" class="btn btn-primary btn-block" ng-click="login()" ng-disabled="isShowSpinner">登&nbsp;&nbsp;录
                    <img src="./images/loading.gif" style="position: absolute; left: 60%" ng-show="isShowSpinner" />
                </button>
            </div>
            <div class="login_bottom">
                <p>版权所有：XXXX有限公司</p>
            </div>
        </form>
    </div>
</div>

