<div>
    <section id="content" class="animate-fade-up ng-scope">
        <div class="app-page">
            <div class="panel panel-default">
                <div class="panel-body search_box">
                    <div class="col-4 search">
                        <div class="col-md-3 input-spacing">
                            <div class="input-group">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" class="form-control" autocomplete="off" ng-model="searchInfo.name" placeholder="姓名">
                            </div>
                        </div>
                        <div class="col-md-3 input-spacing">
                            <div class="input-group">
                                <span class="input-group-addon">账号</span>
                                <input type="text" class="form-control" autocomplete="off" ng-model="searchInfo.loginName"
                                    placeholder="账号">
                            </div>
                        </div>
                        <div class="col-md-3 input-spacing">
                            <div class="btn-group btn_width btn_color3">
                                <button type="button" class="btn" ng-click="search()"><i
                                        class="fa fa-search"></i>查询</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel panel-default no-margin">
                <div class="panel-body table_box">
                    <div class="right_menu">
                        <div class="pull-left">
                            <div class="btn-group btn_width btn_color2">
                                <button type="button" class="btn" ng-click="add()" ng-disabled="isUsing"><i class="fa fa-plus"></i>新增</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <img src="./images/loading.gif" ng-show="isLoading" />
                    <div ng-show="!isLoading">
                        <table class="table table-hover" ng-show="!isLoading">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>账号</th>
                                    <th>最后登录时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in users"
                                    ng-class="{'table_active':selectedRow!=null&&row.id==selectedRow.id}"
                                    ng-click="setSelectedRow(row)">
                                    <td hidden>{{row.id}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.loginName}}</td>
                                    <td>{{row.lastLoginTime}}</td>
                                    <td>
                                        <a ng-disabled="isUsing" ng-click="edit(row)">修改</a>
                                        <a ng-disabled="isUsing" ng-click="delete(row)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <datas-pagination paginationinfo="pagination" ng-show="!isLoading"></datas-pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/ng-template" id="addModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" ng-if="isAdd">新增</h5>
        <h5 class="modal-title" ng-if="!isAdd">编辑</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="form" novalidate>
            <div class="col-md-12 padding-bottom">
                <div class="from_content">
                    <div class="row-row padding-bottom">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-5 text-right padding-right">
                                    <label class="control-label"><span class="required">*</span>姓名</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" autocomplete="off" placeholder="请输入姓名" ng-model="user.name" name="name" required ng-maxlength="50">
                                    <span class="required" ng-show="form.name.$dirty && form.name.$invalid">
                                        <span ng-show="form.name.$error.required">请输入姓名</span>
                                        <span ng-show="form.name.$error.maxlength">长度不能超过50个字符</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-row padding-bottom">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-5 text-right padding-right">
                                    <label class="control-label"><span class="required">*</span>账号</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" autocomplete="off" placeholder="请输入账号" ng-model="user.loginName" name="loginName" required ng-maxlength="50">
                                    <span class="required" ng-show="form.loginName.$dirty && form.loginName.$invalid">
                                        <span ng-show="form.loginName.$error.required">请输入账号</span>
                                        <span ng-show="form.loginName.$error.maxlength">长度不能超过50个字符</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>    
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-blue2" ng-click="ok()" ng-disabled="form.$invalid||isUsing">保存</button>
        <button type="button" class="btn btn-gray" ng-click="$dismiss()">关闭</button>
    </div>
</script>

<script type="text/ng-template" id="deleteModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h5 class="modal-title">删除</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p>确认要删除用户信息?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-blue2" ng-click="ok()" ng-disabled="isUsing" >确认</button>
        <button class="btn btn-gray" ng-click="$dismiss()">取消</button>
    </div>
</script>